.tax_knowledge_libarary_hide {
    display: none;
}

.tax_knowledge_libarary {

    margin-top: 50px;

    ul {
        
        list-style: none	
    }
    
    li {
        height: 30px;

        padding-top: 5px;
        padding-bottom: 10px;

        a {
            padding-left:30px;
        }

        a:link {
            color: green;
        }
        
        a:visited {
            color: green;
        }
        
        a:hover {
            color: hotpink;
        }

    }

    li.menu {
        font-size: 24px;
    }

    li.item {
        font-size: 18px;
    }

    li.shuiwuchouhua {
        height: 170px;
    }

    li.shangshifudao {
        height: 140px;
    }

    li.shuiwuguwen {
        height: 200px;
    }
}
