.about_us_hide {
	display: none;
}

.about_us {
    margin-top: 20px;
    h1{
        padding-top: 15px;
        text-align: center;
    }
    p {
        line-height: 1.6em;
        font-size: 20px;
        padding-top: 20px;
        text-indent: 2em;
    }
    p.business_scope, p.members {
        font-weight: bold;
        text-align: center;
    }
    ul li {
        font-weight: bold;
        line-height: 2.2em;
    }
    .member-detail {
        margin-top: 35px;
        height: 250px;
        .photo {
            float: left;
            width: 20%;
        }
        .description {
            float: left;
            width: 80%;
        }
        img{
            height: 250px;
            width: 200px;
        }
        p {
            padding-left: 5px;
        }
        p.name {
            padding-top: 30px;
            font-size: 1.5em;
            font-weight: bold;
        }
        p.position {
            padding-top: 10px;
            font-size: 1.2em;
            font-weight: bold;
        }
        p.introduction {
            padding-top:20px;
            font-size: 1.1em;
        }
    }
}